@import "tailwindcss";

@theme {
  /* Custom Font */
  --font-work-sans: "Work Sans", sans-serif;
}

@layer base {
  /* Custom Colors */
  :root {
    --color-primary-100: #ffe8f0;
    --color-primary: #ee2b69;
    --color-secondary: #fbe843;
    --color-black-100: #333333;
    --color-black-200: #141413;
    --color-black-300: #7d8087;
    --color-black: #000000;
    --color-white-100: #f7f7f7;
    --color-white: #ffffff;
    --background: #ffffff;
    --foreground: #171717;
  }
}

@layer utilities {
  /* Screen Sizes */
  @media (min-width: 475px) {
    .xs\:block {
      display: block;
    }
  }

  /* Border Radius */
  .rounded-lg {
    border-radius: var(--radius);
  }
  .rounded-md {
    border-radius: calc(var(--radius) - 2px);
  }
  .rounded-sm {
    border-radius: calc(var(--radius) - 4px);
  }

  /* Box Shadows */
  .shadow-100 {
    box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  }
  .shadow-200 {
    box-shadow: 2px 2px 0px 2px rgb(0, 0, 0);
  }
  .shadow-300 {
    box-shadow: 2px 2px 0px 2px rgb(238, 43, 105);
  }

  /* Font Family */
  .font-work-sans {
    font-family: var(--font-work-sans);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
